.footer {
    background-color: var(--card-background);
    color: #ffffff;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid var(--primary-color) !important;
    width: 100%;
    box-sizing: border-box;
}


.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-logo {
    height: 40px;
    object-fit: contain;
}

.footer-text {
    font-size: 14px;
    color: #aaa;
}

.footer-right a {
    color: #888;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: #fff;
}

.footer-socials {
    margin-top: 20px;
    text-align: center;
}

.footer-socials a {
    color: #888;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #fff;
}

.footer:before {
    display: none;
}

@media (max-width: 768px) {

    .footer-left,
    .footer-center,
    .footer-right {
        flex: 100%;
        text-align: center;
    }

    .footer-right a {
        margin: 0 10px;
    }
}